                @font-face {
                    font-family: peanuts;
                    src: url(./PEANUTS_.TTF);
                }
                
                @font-face {
                    font-family: snoopy;
                    src: url(./snoopy_reg-webfont.otf)
                }
                
                body {
                    font-family: peanuts;
                    /* background-image: url(/Unit-4-Game/assets/images/wet_snow.png); */
                    background-image: url(../images/desk.jpg);
                    background-size: cover;
                    border: 5px solid black;
                }