    @font-face {
        font-family: peanuts;
        src: url(./PEANUTS_.TTF);
    }
    
    @font-face {
        font-family: snoopy;
        src: url(./snoopy_reg-webfont.otf)
    }
    
    body {
        background-image: url("../images/desk.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: peanuts;
    }
    
    h1 {
        text-align: center;
    }
    
    #start {
        text-align: center;
        border: 2px solid black;
        margin-top: 175px;
        margin-left: 600px;
    }
    
    #clock {
        text-align: center;
        font-family: snoopy;
    }
    
    .gameBoard {
        /* background-color: #ffffff; */
        font-family: snoopy;
        margin-left: 55px;
        margin-right: 500px;
        padding-top: 50px;
    }
    
    #answerBoard {
        font-size: 25px;
        text-align: center;
    }
    
    #reset {
        text-align: center;
        border: 2px solid black;
        margin-top: 175px;
        margin-left: 600px;
    }